[submodule "Four-Lectures-on-Mathematics"]
	path = Four-Lectures-on-Mathematics
	url = git@github.com:Lazytangent/Hadamard__Four_Lectures_on_Mathematics.git
[submodule "A-First-Book-in-Algebra"]
	path = A-First-Book-in-Algebra
	url = git@github.com:Lazytangent/Boyden__First_Book_in_Algebra.git
[submodule "Short-Account-of-the-History-of-Mathematics"]
	path = Short-Account-of-the-History-of-Mathematics
	url = git@github.com:Lazytangent/Short-Account-of-the-History-of-Mathematics.git
[submodule "Planck__Heat_Radiation"]
	path = Planck__Heat_Radiation
	url = git@github.com:Lazytangent/Planck__Heat_Radiation.git
[submodule "Treatise_on_Fouriers_Series"]
	path = Treatise_on_Fouriers_Series
	url = git@github.com:Lazytangent/Treatise_on_Fouriers_Series.git
[submodule "Treatise_on_Thermodynamics"]
	path = Treatise_on_Thermodynamics
	url = git@github.com:Lazytangent/Treatise_on_Thermodynamics.git
[submodule "Geometrical_Solutions_Derived_from_Mechanics"]
	path = Geometrical_Solutions_Derived_from_Mechanics
	url = git@github.com:Lazytangent/Geometrical_Solutions_Derived_from_Mechanics.git
