[submodule "Four-Lectures-on-Mathematics"]
	path = Four-Lectures-on-Mathematics
	url = git@github.com:Lazytangent/Hadamard__Four_Lectures_on_Mathematics.git
[submodule "A-First-Book-in-Algebra"]
	path = A-First-Book-in-Algebra
	url = git@github.com:Lazytangent/Boyden__First_Book_in_Algebra.git
[submodule "Short-Account-of-the-History-of-Mathematics"]
	path = Short-Account-of-the-History-of-Mathematics
	url = git@github.com:Lazytangent/Short-Account-of-the-History-of-Mathematics.git
[submodule "Planck__Heat_Radiation"]
	path = Planck__Heat_Radiation
	url = git@github.com:Lazytangent/Planck__Heat_Radiation.git
[submodule "Treatise_on_Fouriers_Series"]
	path = Treatise_on_Fouriers_Series
	url = git@github.com:Lazytangent/Treatise_on_Fouriers_Series.git
[submodule "Treatise_on_Thermodynamics"]
	path = Treatise_on_Thermodynamics
	url = git@github.com:Lazytangent/Treatise_on_Thermodynamics.git
[submodule "Geometrical_Solutions_Derived_from_Mechanics"]
	path = Geometrical_Solutions_Derived_from_Mechanics
	url = git@github.com:Lazytangent/Geometrical_Solutions_Derived_from_Mechanics.git
[submodule "more_music_theory_articles"]
	path = more_music_theory_articles
	url = git@github.com:Lazytangent/more_music_theory_articles.git
[submodule "Matter_Ether_and_Motion"]
	path = Matter_Ether_and_Motion
	url = git@github.com:Lazytangent/Matter_Ether_and_Motion.git
[submodule "Beethovens_Letters__Vol_2"]
	path = Beethovens_Letters__Vol_2
	url = git@github.com:Lazytangent/Beethovens_Letters__Vol_2.git
[submodule "Beethovens_Letters"]
	path = Beethovens_Letters
	url = git@github.com:Lazytangent/Beethovens_Letters.git
[submodule "Budge__Legends"]
	path = Budge__Legends
	url = git@github.com:Lazytangent/Budge__Legends.git
[submodule "Diophantine_Analysis"]
	path = Diophantine_Analysis
	url = git@github.com:Lazytangent/Diophantine_Analysis.git
[submodule "Essays_on_the_Theory_of_Numbers"]
	path = Essays_on_the_Theory_of_Numbers
	url = git@github.com:Lazytangent/Essays_on_the_Theory_of_Numbers.git
[submodule "Essentials_in_Conducting"]
	path = Essentials_in_Conducting
	url = git@github.com:Lazytangent/Essentials_in_Conducting.git
[submodule "Fibonacci_Number_Sequence"]
	path = Fibonacci_Number_Sequence
	url = git@github.com:Lazytangent/Fibonacci_Number_Sequence.git
[submodule "King__Legends"]
	path = King__Legends
	url = git@github.com:Lazytangent/King__Legends.git
[submodule "Lectures_on_Elementary_Mathematics"]
	path = Lectures_on_Elementary_Mathematics
	url = git@github.com:Lazytangent/Lectures_on_Elementary_Mathematics.git
[submodule "Lessons_in_Music_Form"]
	path = Lessons_in_Music_Form
	url = git@github.com:Lazytangent/Lessons_in_Music_Form.git
[submodule "Machinery_of_the_Universe"]
	path = Machinery_of_the_Universe
	url = git@github.com:Lazytangent/Machinery_of_the_Universe.git
[submodule "Music_Notation_and_Terminology"]
	path = Music_Notation_and_Terminology
	url = git@github.com:Lazytangent/Music_Notation_and_Terminology.git
[submodule "Myths_and_Legends_of_China"]
	path = Myths_and_Legends_of_China
	url = git@github.com:Lazytangent/Myths_and_Legends_of_China.git
[submodule "Myths_and_Legends_of_Rome_and_Greece"]
	path = Myths_and_Legends_of_Rome_and_Greece
	url = git@github.com:Lazytangent/Myths_and_Legends_of_Rome_and_Greece.git
[submodule "On_Conducting"]
	path = On_Conducting
	url = git@github.com:Lazytangent/On_Conducting.git
[submodule "Piano_Tuning"]
	path = Piano_Tuning
	url = git@github.com:Lazytangent/Piano_Tuning.git
[submodule "Orchestral_Conductor"]
	path = Orchestral_Conductor
	url = git@github.com:Lazytangent/Orchestral_Conductor.git
[submodule "Theory_of_Finite_Order"]
	path = Theory_of_Finite_Order
	url = git@github.com:Lazytangent/Theory_of_Finite_Order.git
